<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="contenedor-animacion">
        <ng-lottie [options]="servicios"></ng-lottie>
      </div>
      <div class="contenedor-idea">
        <ng-lottie [options]="logo"></ng-lottie>
      </div>
      <div class="contenedor-mercado">
        <ng-lottie [options]="mercado" (click)="openModal(template2, 2)"></ng-lottie>
      </div>
      <div class="contenedor-trabajo">
            <a role="button">
              <ng-lottie [options]="trabajo" (click)="openModal(template2, 1)"></ng-lottie>
            </a>
      </div>
    </div>
  </div>
</div>

<ng-template #template2>
  <div class="modales">
      <div class="modal-header">
          <button class="btn-close bg-white text-dark" data-mdb-dismiss="modal" aria-label="Close"
              (click)="closeVentana()"></button>
      </div>
      <div class="modal-body">
          <div class="modal-body" >
            <p>{{texto}}</p>
              
          </div>
      </div>
  </div>
</ng-template>