/* You can add global styles to this file, and also import other style files */
.body {
    background-color: rgb(8, 8, 8);
}
.container {
    margin-top: 70px;
  }

  .contenedor-animacion {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
  
}
.contenedor-idea {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%; 
}
.contenedor-mercado {

  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24%;
  left: 72%;
  transform: translate(-50%, -50%);
  width: 8%; 
}
.contenedor-trabajo {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 93%;
  left: 72%;
  transform: translate(-50%, -50%);
  width: 8%; 
}
.contenedor-producto {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70%;
  left: 72%;
  transform: translate(-50%, -50%);
  width: 8%; 
}
.contenedor-industria{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 38%;
  left: 72%;
  transform: translate(-50%, -50%);
  width: 8%; 

}
.contenedor-inivacion{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8%;
  left: 72%;
  transform: translate(-50%, -50%);
  width: 8%; 

}